<html>
 <p>
Hi {{:Last_Name}}<br>
Address: {{:Address}}, <br><br> 
Thanks for taking the time to share a little about [COMPANY], as well as the goals and  
challenges you face.<br><br>  
If you would like to learn how other companies are dealing with challenges like yours, I  
would be happy to schedule a call. We could also talk a bit more about your challenges  
and determine whether or not I might be able to offer some help.<br>
If you would like to talk some more, use the convenient link below to directly schedule  
a time on the calendar for us to speak.<br>  
Best,<br><br>  
{{:First_Name}}
</p>
</html>