<html>
<p>    
    Hi Dr. {{:First_Name}} {{:Last_Name}}, <br> <br>
I’m sorry we haven’t been able to connect. Again, I know how hectic things can get at  
work and with family.  <br>
I would be available for a call during weekends or before or after work hours if that’s  
easier for you. I don’t mean to bug you, but I do want to help you manage your team  
so you can exceed your goals of [GOAL].  <br>
To schedule a time on my calendar, just click here.  <br>
Best,  <br><br>
Address: {{:Address}}
</p>
</html>