<html>
<p>    
   Hello Dr. {{:Last_Name}},<br><br>
I'm following-up my previous email with a free tool I think you'll love. <br>
It's a brand analysis survey I created just for you (literally, your name is on it), that will  
help you understand how your practice is different from other doctors in [insert city  
they're in].<br><br>
Click here to begin the brand differentiation analysis survey. When we speak, I'll  
benchmark your responses against the top physician brands around the country.  <br><br>
I'm sharing my calendar (click here) so we can schedule a convenient time to discuss.  <br>
Enjoy your weekend,  <br><br>
Address: {{:Address}}<br>
Name: {{:First_Name}}  <br>
</p>



</html>